<footer class="footer">
  <p class="footer-text">
    <small>Web-mrbc is hosted by wakayama.rb.<br>We ♥ feedback.</small>
  </p>
  <ul class="sns-links">
    <li class="sns-link"><a href="https://www.facebook.com/groups/wakayama.rb/"><i class="fa fa-2x fa-facebook-square"></i></a></li>
    <li class="sns-link"><a href="https://github.com/wakayamarb"><i class="fa fa-2x fa-github"></i></a></li>
    <li class="sns-link"><a href="http://wakayamarb.org"><i class="fa fa-2x fa-globe"></i></a></li>
  </ul>
</footer>
