$column_width: 600px;
$font_color: #222;
$border_color: #D1D1D1;
$alt_link_color: #555;

body
{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-color: $font_color;
}

.container {
    max-width: $column_width;
}

.title{
    margin: .75em auto .25em;
    text-align: center;
}
.description
{
    text-align: center;
}

.tab-heads, .tab-contents
{
    list-style: none;
}

.tab-heads
{
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.tab-head
{
    display: table-cell;
    line-height: 2.5;
    margin: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $border_color;
    &.active
    {
        border-width: 1px 1px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    a:hover {
        color: $font_color;
        opacity: .7;
    }

}

.tab-handle
{
    text-decoration: none;
    color: $font_color;
    &:hover{
        cursor: pointer;
    }
}

pre
{
    padding: 1em;
    background-color: lighten($border_color, 10%);
    border-radius: 4px;
}

a
{
    cursor: pointer;
}

.tab-contents
{
    margin: 0;
}

.tab-content:not(.active)
{
    display: none;
}

#file
{
    display:none;
}

.filename_label
{
    margin-left: .5em;
}

textarea#source
{
    height: 150px;
    resize: vertical;
}

.button.download
{
    float: right;
}

.footer
{
    border-top: 1px solid $border_color;
}

.footer-text
{
    text-align: center;
    margin: 0;
}

.SNS-links
{
    list-style:none;
    text-align: center;
}

.SNS-link
{
    display: inline;
    margin: 0 .25em;
    a
    {
        color: $alt_link_color;
        &:hover
        {
            opacity: .7;
        }
    }
}
