$column-width: 600px;
$font-color: #222;
$border-color: #d1d1d1;
$alt-link-color: #555;

body {
    color: $font-color;
    font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.container {
    max-width: $column-width;
}

.title {
    margin: .75em auto .25em;
    text-align: center;
}

.description {
    text-align: center;
}

.tab-heads,
.tab-contents {
    list-style: none;
}

.tab-heads {
    display: table;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.tab-head {
    display: table-cell;
    margin: 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $border-color;
    line-height: 2.5;

    &.active {
        border-width: 1px 1px 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    a {

        &:hover {
            color: $font-color;
            opacity: .7;
        }
    }

}

.tab-handle {
    color: $font-color;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

pre {
    padding: 1em;
    border-radius: 4px;
    background-color: lighten($border-color, 10%);
}

a {
    cursor: pointer;
}

.tab-contents {
    margin: 0;
}

.tab-content {

    &:not(.active) {
        display: none;
    }
}

.input-file {
    display: none;
}

.filename-label {
    margin: auto .5em;

    &.future {
        opacity: .7;
    }
}

.source-area {
    height: 150px;
    resize: vertical;
}

.button {
    .download {
        float: right;
    }
}

.footer {
    border-top: 1px solid $border-color;
}

.footer-text {
    margin: 0;
    text-align: center;
}

.sns-links {
    list-style: none;
    text-align: center;
}

.sns-link {
    display: inline;
    margin: 0 .25em;

    a {
        color: $alt-link-color;

        &:hover {
            opacity: .7;
        }
    }
}
